/*OverLay*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/*DO NOT CHANGE THIS*/
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
/*DO NOT CHANGE THIS*/

.container-fluid {
  padding: 0 !important;
  margin: 0;
}

body {
  overflow-x: hidden;
}

/*Header */
#menu-bar{
  position: fixed;
  background-color: white;
  width: 100%;
  height: 175px;
  box-shadow: 0px 3px 1px lightgrey;
  background: url("../images/pic-header2.jpg");
  background-size: cover;
  width: 100vw;
  z-index: 1;
}

#Logo {
  width:310px;
  height:94.25px;
  margin-left: 20px;
}

#Mast_Head{
  margin-top: 30px;
}

#Mast_Nav{
  background: none;
  border: none;
}

ul#Format_Nav {
    margin-top:  -3px;
}

#topbar{
  font-size: 15px;
  font-weight: bold;
  margin-top: 40px;
}
#topbar > nav > ul {
  float:left;
}
#topbar > nav > ul > li {
  display: inline ;
}

.dropdown{
  font-size: 24px;
  font-weight: bold;
}

.user-ico{
  margin-top: 33px;
}

a#lh, a#vd, a#gt {
    width: 166px;
    text-align: center;
}


a#sp {
    width: 363px;
    text-align: center;
}

a#tltk {
    width: 271px;
    text-align: center;
}

/*Back to top*/

#to-top .to-top {
  position: fixed;
  bottom: 300px;
  right: 50px;
  text-decoration: none;
  opacity: 0.4;
  padding: 10px 20px;
  display: none;
}
#to-top .to-top:hover{
opacity: 1;
}

/*Main carousel*/

div#myCarousel {
  margin-top: 178px;
}

/*Intro jumbotron*/

div.intro{
  background: url("../images/temp_stripe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  height: 200vh;
  width: 1200px;
  padding-top: 145px;
  z-index: -1;
}

.intro-content {
  margin-top: 50px;
  padding-right: 45px !important;
}

.cty-content, .ceo-content, .dtac-content {
  display: none;
  transition: display 0.3;
}

 .vertical-nav {
   margin-top: 120px;
   padding-left: 63px;
 }

 .vertical-nav button{
   border: none;
   background-color: transparent;
 }

 .vertical-nav a{
   color: #1E4490;
   font-size: 24px;
   font-weight: bold;
 }

 .vertical-nav a:hover{
   color: #F29220;
 }

/*Breadcrum*/


ol.breadcrumb {
  background: url("../images/pic-header.png");
  background-size: cover;
  position: static;
}

.breadcrumb>li+li:before {
  content: ">" !important;
  color: #707070 !important;
}

.breadcrumb a {
  text-decoration: none;
  color: #707070;
  font-size: 18px;
}

.breadcrumb>.active {
  color: black !important;
  font-size: 18px;
}

#gt1, #bread-cty, #bread-ceo, #bread-dtac {
  display: none;
}

/*Footer */
#footer_txt {
  color: #ffffff ;
  height: auto;
}

.jumbotron{
  height: 450vh;
}

#footer_1 {
  background-image: linear-gradient(#1e4490, #152F64);
  padding:15px;
  width: 100vw;
  margin: 0;
}

#footer_2 {
  background: #f29220;
  padding:5px;
  width: 100vw;
  margin: 0;
}

#footer_lnk1 {
  color:#ffffff;
}

#footer_lnk2 {
  color:#ffffff;
  float: right;
  padding-right:25px;
  text-transform: uppercase;
}

.Footer{
  line-height: 2px;
}
#congty{
  margin-top: -15px;
  font-size: 18px;
}
#congty1{
  margin-top: -15px;
  margin-bottom: 50px;
}
#congty1 tr {
    height: 35px;
}
#book{
  width: 6px;
  height: auto;
}
img#Logo {
    float:  right;

}
div#Mast_Head {
    padding-left: 88px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#h31 {
    font-size: 20px;
    margin-bottom: -16px;
        margin-top: 14px;
}
#h32 {
    font-size: 22px;
    margin-bottom: -18px;
}
.p{
  margin-top: -2px;
}
iframe {
  margin-top: -60px;
  height: 428px;
  width: 418px;
}
#hr1{
  width: 280px;
}
ul li.side-menu a{
  color: #1E4490;
}

a:hover#login-btn {
    background-color:  #1E4490;
    color:  white;
    text-decoration:  none;
    padding: 3px;
}

a#login-btn {
    padding: 3px;
}



/*healtheworld*/
#healtheworld1{
  background: url("../images/picmaincontent1.png") no-repeat center;
  width: 100%;
  height: 845px;
  text-align: center;
  text-indent: 1.5em;
  padding-top: 200px;
}
.textheal{
  color: #F29220;
  font-size: 40px;
}
.textheal1{
  color: #707070;
  font-size: 24px;
  text-align: justify; text-align-last: center;
  margin: 0 auto;
  width: 960px;
}

/*mast_carousel*/
.carousel-control:focus, .carousel-control:hover {
  opacity: 1 !important;
  background-image: none !important;
}
#myCarousel {
  width: 100%;
}
ol.carousel-indicators {
     position: absolute;
     bottom: -15px;
     margin: 0;
     margin-left: 480px;
     left: 0;
     right: 0;
     width: 100px;
}
ol.carousel-indicators li, ol.carousel-indicators li.active {
    float: none;
     width: 33%;
     height: 10px;
     margin: 0;
     border-radius: 0;
     border: 0;
     background: white;
}
ol.carousel-indicators li.active {
     background: yellow;
}

#myCarousel .glyphicon {
    font-size: 80px !important;
}

#myCarousel span.glyphicon.glyphicon-menu-left {
  margin-right: 100px;
  margin-top: 300px;
}

#myCarousel span.glyphicon.glyphicon-menu-right {
  margin-left: 100px;
  margin-top: 300px;
}


/*doi tac chien luoc*/
#theCarousel {
  width: 100%;
}
.dtcl {
  margin-top: 100px;
  color: #1E4490;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
/*company carousel*/

img.img-responsive {
    height: 130px;
    width: 230px;
    object-fit: contain;
}

#theCarousel .carousel-inner{
  padding: 0 180px;
}

#theCarousel .glyphicon {
    font-size: 80px !important;
}

#theCarousel i.glyphicon.glyphicon-menu-left, #theCarousel i.glyphicon.glyphicon-menu-right {
  margin-right: 20px;
  margin-top: 20px;
}


.multi-item-carousel{
.carousel-inner{
  > .item{
    transition: 500ms ease-in-out left;
  }
  .active{
    &.left{
      left:-33%;
    }
    &.right{
      left:33%;
    }
  }
  .next{
    left: 33%;
  }
  .prev{
    left: -55%;
  }
  @media all and (transform-3d), (-webkit-transform-3d) {
    > .item{
      // use your favourite prefixer here
      transition: 500ms ease-in-out left;
      transition: 500ms ease-in-out all;
      backface-visibility: visible;
      transform: none!important;
    }
  }
}

}

.carousel-control.left, .carousel-control.right {
  opacity: 1 !important;
  background-image: none !important;
}

/*css from header*/

  .round {
      width: 100%;
      border-radius: 15px;
      border: none;
      padding: 5px 5px 5px 25px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }
    li a.dropdown-toggle{
      color: #1E4490;
    }

    .inner-addon {
    position: relative;
    }
    hr{
      width: auto;
      margin-left: -1px;
    }

    p {
      margin: -6px 0 10px;
    }

    /* style icon */
    .inner-addon .glyphicon {
      position: absolute;
      padding: 10px;
      pointer-events: none;
    }

    /* align icon */
    .right-addon .glyphicon {
      right: 5px;
      margin-top:10px;
    }

    /* add padding  */
    .right-addon input {
      padding-right: 30px;

    }
    form{
      margin-left: 75px;
      margin-top: 10px;
    }
    #search1{
      width: 0px;
      float: right;
      position: relative;
      transition: width 0.5s;
       text-align: left;
       margin-top: 18px;
       opacity: 0;

    }
    #search1:hover{
      width: 390px;
      opacity: 9;
    }
    img#Logo {
      margin-right: -16px;
        padding-bottom: 10px;
    }

    li a:hover#gt, a:hover#sp, a:hover#lh, a:hover#vd, a:hover#tltk {
        background-color:  #1E4490;
    }
    .jumbotron {
        padding-top: 175px;
    }

    input.form-st {
      border: none;
      border-bottom: 1px solid #1E4490;
      box-shadow:  none;
      border-radius: unset;
      width: max-content;
      margin: auto;
      width: 346px;
    }

    label{
      margin-left: 50px;
      font-weight: unset;
      color: #1E4490;
      font-size: 25px;
    }
    img.avatar {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 78px;
      margin-top: 20px;
      margin-bottom:11px;
    }

    form.modal-content.animate {
      width: 450px;
      height: 635px;
      border-radius: 50px;
    }
    p.dksd{
      text-align: left;
      padding: 0px 51px 0px 51px;
      font-size: 18px;
      color: #1E4490;
    }

    p.dksd2{
      margin-top: 14px;
      margin-bottom: 20px;
      text-align: center;
      padding: 0px 51px 0px 51px;
      font-size: 18px;
      color: #1E4490;
      font-weight: bold;
    }
    button.sign-up{
      margin: auto;
      background-color: #1E4490;
      color: white;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      width: 39%;
      font-size: 23px;
      font-weight: bold;
    }
    button.sign-in{
      margin: auto;
      background-color: #1E4490;
      color: white;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      width: 39%;
      font-size: 23px;
      font-weight: bold;
    }
    .col-lg-3 {
        padding-left: 58px;
        font-size: 18px;
    }

    .col-lg-2 {
          font-size: 18px;
    }

    div#footer_1 {
        height:  534px;
    }
