/*Header */
#menu-bar{
  position: fixed;
  background-color: white;
  width: 100%;
  height: 175px;
}

#Logo {
  width:310px;
  height:94.25px;
  margin-left: 50px;
}

#Mast_Head{
  margin-top: 30px;
}

#Mast_Nav{
  background: none;
  border: none;
}

#loggin_attr{
  display: inline;
}

.dropdown{
  font-size: 20px;
  font-weight: bold;
}

.user-ico{
  margin-top: 33px;
}

/*Footer */
#footer_txt {
  color: #ffffff ;
  height: auto;
}

.jumbotron{
  height: 450vh;
}

#footer_1 {
  background-image: linear-gradient(#B4CCF2, #152F64 65%);
  padding:15px;
}

#footer_2 {
  background: #f29220;
  padding:5px;

}

#footer_lnk1 {
  color:#ffffff;
}

#footer_lnk2 {
  color:#ffffff;
  float:right;
  padding-right:30px;
}

.Footer{
  line-height: 2px;
}
#congty{
  margin-top: -15px;
  font-size: 15px;
}
#congty1{
  margin-top: -15px;
  margin-bottom: 50px;
}
#book{
  width: 6px;
  height: auto;
}
img#Logo {
    float:  right;
}
div#Mast_Head {
    padding-left: 88px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#h31 {
    font-size: 20px;
    margin-bottom: -16px;
        margin-top: 14px;
}
#h32 {
    font-size: 20px;
    margin-bottom: -18px;
}
.p{
  margin-top: -2px;
}
iframe {
    margin-top: -48px;
}
#hr1{
  width: 280px;
}
